<section class="pagina-internos">
  <div class="topo-pagina">
  <div>
    <h2>Internos</h2>
    <p>Gestão de Internos na especialidade de Medicina Interna.</p>
  </div>

  <div class="ordenacao">
    <label for="ordenar">Ordenar por</label>
    <select id="ordenar" [(ngModel)]="criterioOrdenacao" (change)="ordenarInternos()" class="campo">
      <option value="">Selecionar</option>
      <option value="nome">Nome</option>
      <option value="ano">Ano de Internato</option>
    </select>
  </div>
</div>

  <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ano de Internato</th>
          <th>Estado</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        @for (interno of internos; track interno.id) {
          <tr>
            <td>{{ interno.nome }}</td>
            <td>{{ interno.anoInternato }}.º</td>
            <td>{{ interno.estado }}</td>
            <td class="acoes">
              <button class="btn-secundario" (click)="editar(interno)">Editar</button>
              <button class="btn-perigo" (click)="apagar(interno.id)">X</button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4">Ainda não existem internos.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (internoSelecionado) {
    <div class="form-edicao">
      <h3>Adicionar/Editar Interno</h3>

      <form [formGroup]="internoForm">
        <label for="nome">Nome</label>
        <input id="nome" formControlName="nome" class="campo" />
        @if (internoForm.controls.nome.touched && internoForm.controls.nome.invalid) {
          <small class="erro">O nome é obrigatório.</small>
        }

        <label for="anoInternato">Ano de Internato</label>
          <select id="anoInternato" formControlName="anoInternato" class="campo">
          <option [ngValue]="1">1.º Ano</option>
          <option [ngValue]="2">2.º Ano</option>
          <option [ngValue]="3">3.º Ano</option>
          <option [ngValue]="4">4.º Ano</option>
          <option [ngValue]="5">5.º Ano</option>
        </select>
        @if (internoForm.controls.anoInternato.touched && internoForm.controls.anoInternato.invalid) {
          <small class="erro">O ano de internato deve estar entre 1 e 5.</small>
        }

        <label for="estado">Estado</label>
        <input id="estado" formControlName="estado" class="campo" />
        @if (internoForm.controls.estado.touched && internoForm.controls.estado.invalid) {
          <small class="erro">O estado é obrigatório.</small>
        }

        <div class="acoes-form">
          <button type="button" (click)="guardar()">Guardar</button>
          <button type="button" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  }
</section>