<section class="pagina-internos">
  <div class="topo-pagina">
    <div>
      <h2>Internos</h2>
      <p>Gestão de Internos na especialidade de Medicina Interna.</p>
    </div>

    <div class="ordenacao">
      <label for="ordenar">Ordenar por</label>
      <select
        id="ordenar"
        [(ngModel)]="criterioOrdenacao"
        (change)="ordenarInternos()"
        class="campo">
        <option value="">Selecionar</option>
        <option value="nome">Nome</option>
        <option value="ano">Ano de Internato</option>
      </select>
    </div>
  </div>

  <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ano de Internato</th>
          <th>Estado</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        @for (interno of internos; track interno.id) {
          <tr>
            <td>{{ interno.nome }}</td>
            <td>{{ interno.anoInternato }}.º</td>
            <td>{{ interno.estado }}</td>
            <td class="acoes">
              <button class="btn-secundario" (click)="editar(interno)">Editar</button>
              <button class="btn-perigo" (click)="apagar(interno.id)">X</button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4">Ainda não existem internos.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

 
</section>

 @if (modalAberto) {
    <app-modal
      [internoParaEditar]="internoEmEdicao"
      (fecharModal)="fecharModal()">
    </app-modal>
  }